<nav class="navbar flex-nowrap">
    <div class="logo-box">
        <a href="/"><img class="logo" src="/images/logo-proyecto.svg" alt="Digital Phone"></a>
        <label class="logo-text">Digital Phone</label>
    </div>
    <label for="check" class="burger-menu" id="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </label>
    <ul class="menu" id="menu">
        <li><a href="/products/crud" class="navs crud">CRUD</a></li>
        <li><a href="/products" class="navs active">Productos</a></li>
        <li><a href="#" class="navs">Ofertas</a></li>
        <li><a href="#" class="navs">Soporte</a></li>
        <li><a href="#" class="navs"></a><i class="fa-solid fa-magnifying-glass"></i></li>
        <li><a href="/productCart" class="navs"><i class="fa-solid fa-basket-shopping"></i></a></li>
        <li>
            <a href="#" class="navs"></a><i class="fa-solid fa-user icon-nav-user"></i>
            <ul class="dropwown-menu-user">
                <li><a href="/login" class="nav-user">Iniciar Sesión</a></li>
                <li><a href="/register" class="nav-user">Registrarse</a></li>
                <li><a><form action="logout" method="post">
                            <button>Logout</button>
                        </form>
                </a></li>
            </ul>
        </li>   
    </ul>
</nav>