* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 75px;
    width: 100%;
    background-color: #D2D7DF;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    top: 0;
    position: relative;
    z-index: 2;
}

.menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 75px;
    background: #468EEC;
    float: right;
    text-align: center;
    transition: all .5s;
}

.menu li {
    opacity: 0;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.menu li a {
    color: #D2D7DF;
    font-size: 20px;
    text-transform: uppercase;
}

.menu li a.active,.menu li a:hover {
    color: #28262C;
    transition: 0.5s;
}

.logo {
    margin-left: 20px;
    width: 50px;
}


.logo-box {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
}

.logo-text {
    font-size: 30px;
    line-height: 70px;
    padding-left: 10px;
    font-weight: bold;
    color: #464CEC;
    text-align: center;
}

.burger-menu {
    display: block;
    font-size: 30px;
    color: #468EEC;
    float: right;
    line-height: 75px;
    margin-right: 40px;
    cursor: pointer;
}

.formulario {
    padding: 20px 15px;
    background-color: lightgray;
    text-align: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.control-formulario {
    margin-bottom: 45px;
    text-align: left; 
    margin-left: 10%;
}

.control-formulario input {
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid #000000;
    border-radius: 50px;
    padding: 10px 25px 10px 10px;
}

.control{
    width: 88.5%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--light-gray);
}

.boton-formulario{
    width: 80%;
    color: #001011;
    background-color: #468EEC;
    border: none;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    transition: all 450ms;
}

.boton-formulario2 {
    width: 80%;
    color: #001011;
    background-color: #468EEC;
    border: none;
    font-weight: 400;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    transition: all 450ms;
}

.footer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: #28262C;
    color: #D2D7DF;
    width: 100%;
    padding: 6% 13% 10% 13%;
    justify-content: space-around;
    gap: 30px;
}

.ft-nosotros, .ft-redes, .ft-contacto, .ft-proser {
width: 100%;
flex-grow: 1;
}

.ft-titulo {
    color: #464CEC;
    font-size: 20px;
}

.ft-nosotros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.ft-logo {
    width: 40px;
    flex-grow: 1;
    color: #001011;
}

.ft-t1 {
    flex-grow: 1;
    padding-left: 20px;
}

.ft-nos-txt {
    padding-top: 15px;
    flex-grow: 2;
}

.ft-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ft-con-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 15px;
}

.ft-con-a {
    display: flex;
    flex-direction: row;
    padding: 12px 0 12px 0;
    color: #D2D7DF;
}

.ft-con-a:hover {
    color: #468EEC;
}

.ft-con-icon {
    font-size: 2em;
    width: 20px;
    color: #001011;
}

.ft-con-info {
    padding-left: 20px;
    text-align: left;
}

.ft-redes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ft-red-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 45px;
    padding: 20px;
    padding-left: 0;
}

.ft-red-icon {
    font-size: 2em;
    width: 20px;
    color: #001011;
}

.ft-red-txt {
    font-size: 18px;
}

.ft-proser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ft-pro-div {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 18px;
}

.ft-pro-a {
    color: #D2D7DF;
}

.ft-pro-a:hover {
    color: #468EEC;
}

.text-copy {
padding-top: 50px;
left: 0;
font-weight: bold;
}

.boton-formulario:hover{
    background-color: #464CEC;
}

.boton-formulario2:hover{
    background-color: #464CEC;
}

.error-msg {
    color: rgb(210, 33, 63);
}

.error-field input {
    border: 2px solid rgb(210, 33, 63);
}

/* movil pequeño */
@media (min-width: 360px){
    .logo-text {
        font-size: 20px;
    }
}

@media (min-width: 380px){
    .logo-text {
        font-size: 30px;
    }
}

/* tablet */
@media (min-width: 768px){
    .footer {
        gap: 15%;
        padding: 5% 8% 5% 8%;
        flex-direction: row;
    }

    .ft-nosotros, .ft-redes, .ft-contacto, .ft-proser {
        width: 42%;
    }

    .ft-redes, .ft-proser {
        padding-top: 40px;
    }
}

/* desktop */
@media (min-width: 1280px){
    .logo-box {
        margin-left: 25px;
    }

    .logo-text {
        width: max-content;
    }

    nav {
        height: 100px;
        background-color: #ebebeb;
    }

    .burger-menu {
        display: none;
    }

    .menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        float: right;
        text-align: right;
        margin-right: 25px;
        transition: none;
    }

    .menu li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .menu li a {
        color: #468EEC;
    }

    .menu li a.active, .menu li a:hover {
        color: #464CEC;
    }

    .footer {
        gap: 2%;
        padding: 5% 8% 5% 8%;
        flex-direction: row;
    }

    .ft-nosotros, .ft-redes, .ft-contacto, .ft-proser {
        width: 22%;
    }

    /*nav user en proceso*/
    .navbar ul li {
        display: inline-block;
    }
    
    .navbar li ul{
        position:absolute;
        list-style:none;
        text-align:center;
        width:400px;
        left:90%;
        margin-left:-90px;
        top:75px;
        font-size: 10px;
    
        
        max-height:0px;
        overflow:hidden;
    
        -webkit-transition:max-height 0.4s linear;
        -moz-transition:max-height 0.4s linear;
        transition:max-height 0.4s linear;
    }
    
    .navbar li:hover ul{
        max-height:400px;
    }
    
    .navbar li ul li{
        background-color:#468EEC;
    }
    
    .navbar li ul li a{
        padding:12px;
        color:#fff !important;
        text-decoration:none !important;
        display:block;
    }
    
    .navbar li ul li:nth-child(odd){ 
        background-color:#464CEC;
    }
    
    .navbar li ul li:hover{
        background-color:#444;
    }
    
    .navbar li ul li:first-child{
        border-radius:3px 3px 0 0;
        margin-top:25px;
        position:relative;
    }
    
    .navbar li ul li:first-child:before{ 
        content:'';
        position:absolute;
        width:1px;
        height:1px;
        border:5px solid transparent;
        border-bottom-color:#313131;
        left:50%;
        top:-10px;
        margin-left:-5px;
    }
    
    .navbar li ul li:last-child{
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
    }
    
    /* productos en proceso*/
    .prod {
        width: 30%;
        height: 100%;
        margin: 15px;
        float: left;
        box-sizing: border-box;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: .4s;
        background: #D2D7DF;
        overflow: hidden;
    }

    .prod:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform: translate(0px -8px);
    }
}