* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding-top: 100px;
    text-align: center;

}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.contenedor img {
    height: 150px;
    width: 200px;
}

.nombre,
.color,
.precio,
.cantidad {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.input-group-btn {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.btn {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.btn-default {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.control {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.eliminar {
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.final {
    display: flex;
    justify-content:space-around;
    font-size: 25px;
    font-weight: 400;
    margin-top: 2%;
    margin-bottom: 2%;
}