<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home PY Grupo 3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styleHome.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-box">
                <a href="/"><img class="logo" src="/images/logo-proyecto.svg" alt="Proyecto Grupo 3"></a>
                <label class="logo-text">Proyecto Grupo 3</label>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="menu">
                <li><a href="#" class="navs active">Productos</a></li>
                <li><a href="#" class="navs">Ofertas</a></li>
                <li><a href="#" class="navs">Soporte</a></li>
                <li><a href="#" class="navs"></a><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><a href="/productCart" class="navs"></a><i class="fa-solid fa-basket-shopping"></i></li>
                <li>
                    <a href="#" class="navs"></a><i class="fa-solid fa-user icon-nav-user"></i>
                    <ul class="dropwown-menu-user">
                        <li><a href="/login" class="nav-user">Iniciar Sesión</a></li>
                        <li><a href="/register" class="nav-user">Registrarse</a></li>
                    </ul>
                </li>   
            </ul>
        </nav>      
    </header>
    <section class="home">
        <video autoplay loop muted plays-inline class="back-video" src="/images/video_home.mp4"></video>
    </section>
    <main>
        <h2 class="titulares">¡Últimos lanzamientos!</h2>
        <section class="productos">  
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/zfold5.jpg" alt="Samsung Z Fold 5">
                </a>
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Samsung Z Fold 5</h3>
                        <p class="descripcion-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, iure.</p>
                        <span class="precio-prod">$123456</span>
                    </div> 
                </a>  
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>        
            </article>
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/zflip5.jpg" alt="Samsung Z Flip 5">
                </a>    
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Samsung Z Flip 5</h3>
                        <p class="descripcion-prod">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="precio-prod">$123456</span>
                    </div>
                </a>               
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/s23ultra.jpg" alt="Samsung Galaxy S23 Ultra">
                </a>
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Samsung Galaxy S23 Ultra</h3>
                        <p class="descripcion-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, iure.</p>
                        <span class="precio-prod">$123456</span>
                    </div>
                </a>    
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </article>    
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/14promax.jpg" alt='Iphone 14 Pro Max'>
                </a>  
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Iphone 14 Pro Max</h3>
                        <p class="descripcion-prod">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, minus quas esse dignissimos rem porro eius.</p>
                        <span class="precio-prod">$123456</span>
                    </div>
                </a> 
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>            
            </article>
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/iPHONE-13.jpg" alt='Iphone 13'>
                </a> 
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Iphone 13</h3>
                        <p class="descripcion-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, iure.</p>
                        <span class="precio-prod">$123456</span>
                    </div>
                </a>
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>            
            </article>
            <article class="box-effect-prod prod">
                <a class="block" href="/productDetail">
                    <img class="img-prod" src="/images/motorazr40ultra.jpg" alt='Motorola Razr 40 Ultra'> 
                </a>
                <a class="block" href="/productDetail">
                    <div class="info-articulo">
                        <h3 class="titulo-prod">Motorola Razr 40 Ultra</h3>
                        <p class="descripcion-prod">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab?</p>
                        <span class="precio-prod">$123456</span>
                    </div>
                </a> 
                <div class="rate-prod">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>  
                <div class="options-prod">
                    <a href="#">Comprar</a>
                    <a href="#">Agregar al carrito</a>
                </div>            
            </article>
        </section>
        <h2 class="titulares">Últimas noticias</h2>
        <section class="noticias">  
            <article class="box-effect-not not">
                <img class="not-img-box" src="/images/noticia1.jpg" alt='noticia1'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
            <article class="box-effect-not not">
                <img class="not-img-box" src="/images/noticia2.jpg" alt='noticia2'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
            <article class="box-effect not">
                <img class="not-img-box" src="/images/noticia3.jpg" alt='noticia3'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-section ft-nosotros">
            <a href="/"><img class="ft-logo" src="/images/logo-proyecto.svg" alt="Proyecto Grupo 3"></a>
            <h4 class="ft-titulo ft-t1">Proyecto Grupo 3</h4>
            <p class="ft-nos-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste recusandae illo aliquam cum? Hic voluptas saepe reiciendis quis. Tempora, quas!</p>
        </section>
        <section class="footer-section ft-contacto">
            <h4 class="ft-titulo">Contáctanos</h4>
            <div class="ft-con-div">
                <a href="" class="ft-con-a"><i class="fa-solid fa-location-dot ft-con-icon"></i><p class="ft-con-info">Ubicación falsa 123</p></a>
                <a href="" class="ft-con-a"><i class="fa-solid fa-envelope ft-con-icon"></i><p class="ft-con-info">Email_Falso@gmail.com</p></a>
                <a href="" class="ft-con-a"><i class="fa-solid fa-phone ft-con-icon"></i><p class="ft-con-info">+54 11 1234-5678</p></a>
            </div>
        </section>
        <section class="footer-section ft-redes">
            <div class="ft-red-div">
                <a href="" class="ft-red-a"><i class="fa-brands fa-instagram ft-red-icon"></i></a>
                <a href="" class="ft-red-a"><i class="fa-brands fa-twitter ft-red-icon"></i></a>
                <a href="" class="ft-red-a"><i class="fa-brands fa-tiktok ft-red-icon"></i></a>
                <a href="" class="ft-red-a"><i class="fa-brands fa-youtube ft-red-icon"></i></a>
            </div>
            <h4 class="ft-red-txt">¡Seguinos en nuestras redes!</h4>
        </section>
        <section class="footer-section ft-proser">
            <h4 class="ft-titulo">Productos y Servicios</h4>
            <div class="ft-pro-div">
                <a href="" class="ft-pro-a"><p>Productos</p></a>
                <a href="" class="ft-pro-a"><p>Ofertas</p></a>
                <a href="" class="ft-pro-a"><p>Lanzamientos</p></a>
                <a href="" class="ft-pro-a"><p>Soporte</p></a>
            </div> 
        </section>
        <section class="footer-section text-copy">
            <p>Copyright © 1999-2023 ProyectoGrupo3 S.R.L.</p>
        </section>
    </footer>
</body>
</html>