<!DOCTYPE html>
<html lang="es">
    <class><%- include("partials/head") %>
    <title>Login</title>
    <link rel="stylesheet" href="css/styleLogin.css">
<body>
    <header>
        <%- include("partials/header") %> 
    </header> 
    <form action="/login" method="POST" class="formulario">
        <h1 class="titulo-formulario">Inicio de sesión</h1>
        <% /* %>
        <div class="control-formulario">
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="control" required> 
            <i class="fa-solid fa-user"></i>
        </div>
        <% */ %>
        <div class="control-formulario">
            <input type="text" name="email" placeholder="Email" class="control"> 
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="password" name="contrasena" placeholder="Contraseña" class="control"> 
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="recordarme">
            <label><input type="checkbox" name="Recordarme">Recordarme</label>
        <a a href="#">Olvidé mi contraseña</a></div>
        <button type="submit" class="boton-formulario">Iniciar sesión</button>
        <div class="registro">¿No tienes cuenta? <a href="/register">Registrate</a></div>
    </form>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>