<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Login PY Grupo 3</title>
    <link rel="stylesheet" href="css/styleLogin.css">
</head>
<body>
    <!--
    <header>
        <%- include("partials/header") %>  
    </header>    
    -->
    <div class="formulario">
    <form action="resultado.html" method="POST">
        <h1 class="titulo-formulario">Inicio de sesión</h1>
        <div class="control-formulario">
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="control" required> 
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="control-formulario">
            <input type="password" name="contrasena" placeholder="Contraseña" class="control" required> 
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="recordarme">
            <label><input type="checkbox" name="Recordarme">Recordarme</label>
        <a a href="#">Olvidé mi contraseña</a></div>
        <button type="submit" class="boton-formulario">Iniciar sesión</button>
        <div class="registro">¿No tienes cuenta? <a href="/register">Registrate</a></div>
    </form>
    </div>

    <footer>
        <!--
        <%- include("partials/footer") %>
        -->
    </footer>
</body>
</html>