<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>ProductCart PY Grupo 3</title>
    <link href="/css/styleProductCart.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>    
    
    <div class="productos-cont">
        <div class="productos-header">
            <h5 class="productos-title">Tu carrito</h5>
            <h5 class="precio">Precio</h5>
            <h5 class="cantidad">Cantidad</h5>
            <h5 class="total">Total</h5>
        </div>

        <!--producto de ejemplo 1-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/images/products/iPhone12enfrentado.jpg">
                </div>
                <div>
                    <span>iphone 12</span>
                </div>
            </div>
            <div class="precio">
                <span>500,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>500,00</span> 
            </div>    
        </div>

        <!--producto de ejemplo 2-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/images/products/iPhone13promaxcamaragrey.jpg">
                </div>
                <div>
                    <span>iphone 13pro max</span>
                </div>
            </div>
            <div class="precio">
                <span>700,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>700,00</span> 
            </div>    
        </div>
        
        <!--producto de ejemplo 3-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/images/products/iPhone13promaxpink.jpg">
                </div>
                <div>
                    <span>iphone 13pro mas ROSA</span>
                </div>
            </div>
            <div class="precio">
                <span>700,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>700,00</span> 
            </div>    
        </div>

        <!--cuenta de total a pagar-->
        <div class="total-final-cont">
            <h4 class="total-final-title">Total a pagar</h4>
            <h4 class="total-final">1900,00</h4>
        </div>
        <div class="botones-contenedor">
            <button name="comprar" class="boton">Ir a pagar</button>
            <button name="cancelra" class="boton">Cancelar</button>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <footer>
        <!--
        <%- include("partials/footer") %>
        -->
    </footer>
    
</body>
</html>