<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductCart PY Grupo 3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="../../../grupo-03/public/css/normalize.css" rel="stylesheet"/>
    <link href="../../../grupo-03/public/css/styleProductCart.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-box">
                <a href="/"><img class="logo" src="../../../grupo-03/public/images/logo-proyecto.svg" alt="Proyecto Grupo 3"></a>
                <label class="logo-text">Proyecto Grupo 3</label>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="menu">
                <li><a href="#" class="navs">Productos</a></li>
                <li><a href="#" class="navs">Ofertas</a></li>
                <li><a href="#" class="navs">Soporte</a></li>
                <li><a href="#" class="navs"></a><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><a href="/productCart" class="navs"></a><i class="fa-solid fa-basket-shopping"></i></li>
                <li>
                    <a href="#" class="navs"></a><i class="fa-solid fa-user icon-nav-user"></i>
                    <ul class="dropwown-menu-user">
                        <li><a href="/login" class="nav-user">Iniciar Sesión</a></li>
                        <li><a href="/register" class="nav-user">Registrarse</a></li>
                    </ul>
                </li>   
            </ul>
        </nav>      
    </header>
    <div class="productos-cont">
        <div class="productos-header">
            <h5 class="productos-title">Tu carrito</h5>
            <h5 class="precio">Precio</h5>
            <h5 class="cantidad">Cantidad</h5>
            <h5 class="total">Total</h5>
        </div>

        <!--producto de ejemplo 1-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/img/iPhone12enfrentado.jpg">
                </div>
                <div>
                    <span>iphone 12</span>
                </div>
            </div>
            <div class="precio">
                <span>500,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>500,00</span> 
            </div>    
        </div>

        <!--producto de ejemplo 2-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/img/iPhone13promaxcamaragrey.jpg">
                </div>
                <div>
                    <span>iphone 13pro max</span>
                </div>
            </div>
            <div class="precio">
                <span>700,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>700,00</span> 
            </div>    
        </div>
        
        <!--producto de ejemplo 3-->
        <div class="productos">
            <div class="delete_product">
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="product_info">
                <div>
                    <img src="../../public/img/iPhone13promaxpink.jpg">
                </div>
                <div>
                    <span>iphone 13pro mas ROSA</span>
                </div>
            </div>
            <div class="precio">
                <span>700,00</span>
            </div>
            <div class="cantidad">
                <ion-icon class="menos" name="arrow-dropleft"></ion-icon>
                <span>1</span>
                <ion-icon class="mas" name="arrow-dropright"></ion-icon>
            </div>
            <div class="total">
                <span>700,00</span> 
            </div>    
        </div>

        <!--cuenta de total a pagar-->
        <div class="total-final-cont">
            <h4 class="total-final-title">Total a pagar</h4>
            <h4 class="total-final">1900,00</h4>
        </div>
        <div class="botones-contenedor">
            <button name="comprar" class="boton">Ir a pagar</button>
            <button name="cancelra" class="boton">Cancelar</button>
        </div>
    </div>
    <script src="app.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    
</body>
</html>