<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <title>ProductCart PY Grupo 3</title>
        <link href="/css/styleMain.css" rel="stylesheet" />
        <link href="/css/styleProductCart.css" rel="stylesheet" />
        <title>Carrito de compras</title>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <div>
        <!-- <aside>
            <header>
                <h1>Carrito Digital Phone</h1>
            </header>
            <nav>
                <ul>
                    <li><button>Todos los productos</button></li>
                    <li><button>iPhones</button></li>
                    <li><button>Samsung</button></li>
                    <li><button>Motorola</button></li>
                    <li><button>Carrito de compras</button></li>
                </ul>
            </nav>
            <footer>
                Copyright © 1999-2023 ProyectoGrupo3 S.R.L.
            </footer>
        </aside> -->

    <main>
        <section>
            <div class="contenedor">
                <div>
                    <img class="carrito" src="/images/products/iPhone12enfrentado.jpg" alt="producto 1">
                    <div class="informacion">
                        <h3>iPhone12</h3>
                        <p class="precio">$149.999</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img class="carrito" src="/images/products/i14promax-2.jpg" alt="producto 2">
                    <div class="informacion">
                        <h3>iPhone14promax</h3>
                        <p class="precio">$189.000</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img src="/images/products/iPHONE-13.jpg" alt="producto 3">
                    <div class="informacion">
                        <h3>iPhone13</h3>
                        <p class="precio">$150.000</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img src="/images/products/iPhoneSEenfrentado.jpg" alt="producto 4">
                    <div class="informacion">
                        <h3>iPhoneS</h3>
                        <p class="precio">$200.000</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>

</html>