<!DOCTYPE html>
<html lang="es">
    <class><%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styleProductCreation.css">
<body>
    <header class="header">
    <%- include("partials/header") %>
    </header>
    <form action="/products" method="POST" enctype="multipart/form-data" class="formulario">
        <h1 class="titulo-formulario">Identificá tu producto</h1>
        <div class="control-formulario">
            <input type="text" name="brand" placeholder="Marca del producto" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="name" placeholder="Nombre del producto" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="description" placeholder="Descripción" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="detail" placeholder="Descripción detallada" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="aditional" placeholder="Información adicional" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="file" name="images" accept="images/*" class="control">
        </div>
        <div class="control-formulario">
            <input type="text" name="category" placeholder="Categoría" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="number" name="price" placeholder="Precio" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="number" name="discount" placeholder="Descuento" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="number" name="rating" placeholder="Calificación" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="colors" placeholder="Colores" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="capacity" placeholder="Capacidad" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="os" placeholder="Sitema operativo" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="screen" placeholder="Dimensiones pantalla" class="control" required>
        </div>
        <div class="control-formulario">
            <input type="text" name="camera" placeholder="Camara principal" class="control" required>
        </div>
        <button type="submit" class="boton-formulario">Publicar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>
<% /* %>    
<footer class="footer">
    <%- include("partials/footer") %>
</footer>
<% */ %>
    </body>
</html>