<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <title>Product Cart</title>
        <link href="/css/styleProductCart.css" rel="stylesheet">
        <link href="/css/styleMain.css" rel="stylesheet" />

</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <div>

        <div class="contenedor">
            <img src="/images/products/iPhone12enfrentado.jpg" alt="producto 1">
            <p class="nombre">iPhone 12</p>
            <p class="color">Purple</p>

            <p class="cantidad">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="menos" type="button">-</button>
                </span>
                <input type="text" style="width:50px;text-align: center;" id="contador" class="control" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="mas" type="button">+</button>
                </span>
            </p>
            <p class="precio">$150.000</p>
            <p class="eliminar">
                <i class="fa-solid fa-trash-can"></i>
            </p>
        </div>

        <div class="contenedor">
            <img src="/images/products/i14promax-2.jpg" alt="producto 2">
            <p class="nombre">iPhone 14</p>
            <p class="color">White</p>
            <p class="cantidad">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="menos" type="button">-</button>
                </span>
                <input type="text" style="width:50px;text-align: center;" id="contador" class="control" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="mas" type="button">+</button>
                </span>
            </p>
            <p class="precio">$200.000</p>
            <p class="eliminar">
                <i class="fa-solid fa-trash-can"></i>
            </p>
        </div>

        <div class="contenedor">
            <img src="/images/products/iPHONE-13.jpg" alt="producto 3">
            <p class="nombre">iPhone 13</p>
            <p class="color">Pink</p>
            <p class="cantidad">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="menos" type="button">-</button>
                </span>
                <input type="text" style="width:50px;text-align: center;" id="contador" class="control" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="mas" type="button">+</button>
                </span>
            </p>
            <p class="precio">$180.000</p>
            <p class="eliminar">
                <i class="fa-solid fa-trash-can"></i>
            </p>
        </div>

        <div class="contenedor">
            <img src="/images/products/iPhoneSEenfrentado.jpg" alt="producto 4">
            <p class="nombre">iPhone SE</p>
            <p class="color">Pink</p>
            <p class="cantidad">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="menos" type="button">-</button>
                </span>
                <input type="text" style="width:50px;text-align: center;" id="contador" class="control" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="mas" type="button">+</button>
                </span>
            </p>
            <p class="precio">$120.000</p>
            <p class="eliminar">
                <i class="fa-solid fa-trash-can"></i>
            </p>
        </div>
    </div>
    <div class="final">
        <a href="/products">
            <p>
                <i class="fa-solid fa-circle-arrow-left"></i>Volver
            </p>
        </a>
        <p>Subtotal: <input></p>
    </div>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>

</body>

</html>