<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <title>ProductCart PY Grupo 3</title>
        <link href="/css/styleMain.css" rel="stylesheet" />
        <link href="/css/styleProductCart.css" rel="stylesheet" />
        <title>Carrito de compras</title>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <div>

        <div class="producto1">
            <img class="carrito" src="/images/products/iPhone12enfrentado.jpg" alt="producto 1">
            <h4>iPhone12</h4>
            <p>Color</p>
            <p class="precio">$149.999</p>

        </div>
        <div class="producto2">
            <img class="carrito" src="/images/products/i14promax-2.jpg" alt="producto 2">
            <h1>i14promax</h1>
            <p>Color</p>
            <p class="precio">$189.000</p>
        </div>
        <div class="producto3">
            <img src="/images/products/iPHONE-13.jpg" alt="producto 3">
            <h1>iPHONE-13</h1>
            <p>Color</p>
            <p class="precio">$150.000</p>
        </div>
        <div class="producto4">
            <img src="/images/products/iPhoneSEenfrentado.jpg" alt="producto 4">
            <h1>iPhoneSE</h1>
            <p>Color</p>
            <p class="precio">$200.000</p>
        </div>
        <!--<section>
             <div class="contenedor">
                <div>
                    <img class="carrito" src="/images/products/iPhone12enfrentado.jpg" alt="producto 1">
                    <div class="informacion">
                        <h3>iPhone12</h3>
                        <p class="precio">$149.999</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img class="carrito" src="/images/products/i14promax-2.jpg" alt="producto 2">
                    <div class="informacion">
                        <h3>iPhone14promax</h3>
                        <p class="precio">$189.000</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img src="/images/products/iPHONE-13.jpg" alt="producto 3">
                    <div class="informacion">
                        <h3>iPhone13</h3>
                        <p class="precio">$150.000</p>
                        <button>Comprar</button>
                    </div>
                </div>

                <div>
                    <img src="/images/products/iPhoneSEenfrentado.jpg" alt="producto 4">
                    <div class="informacion">
                        <h3>iPhoneS</h3>
                        <p class="precio">$200.000</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </section> -->

    </div>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>

</html>