<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Register PY Grupo 3</title>
    <link rel="stylesheet" href="css/styleRegister.css">
    <link rel="stylesheet" href="css/styleMain.css">
</head>

<body>
    
    <header>
        <%- include("partials/header") %>  
    </header>    
    
    <div class="formulario">
    <form action="resultado.html" method="POST">
        <h1 class="titulo-formulario">Registro</h1>
        <div class="control-formulario">
            <h5>Nombre</h5>
            <input type="text" name="nombre" placeholder="Ingrese su nombre" minlength="3" class="control" required>
        </div>
        <div class="control-formulario">
            <h5>Apellido</h5>
            <input type="text" name="nombre" placeholder="Ingrese su apellido" minlength="3" class="control" required>
        </div>
        <div class="control-formulario">
            <h5>Email</h5>
            <input type="email" name="email" placeholder="Ingrese su correo electrónico" class="control" required>
        </div>
        <div class="control-formulario">
            <h5>Contraseña</h5>
            <input type="password" name="contraseña" placeholder="Ingrese su contraseña" class="control" required>
        </div>
        <div class="control-formulario">
            <h5>Confirme su contraseña</h5>
            <input type="password" name="contraseña2" placeholder="Confirme contraseña" class="control" required>
        </div>
        <button type="submit" class="boton-formulario">Registrarse</button>
        <button type="reset" class="boton-formulario2">Borrar</button>
        <div class="login">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></div>
    </form>
    </div>

    <footer>
        
        <%- include("partials/footer") %>
        
    </footer>
</body>
</html>