<!DOCTYPE html>
<html lang="es">
    <class><%- include("partials/head") %>
    <title>Register PY Grupo 3</title>
    <link rel="stylesheet" href="css/styleRegister.css">
<body>
    <header>
        <%- include("partials/header") %>  
    </header>    
    <form action="/register" method="POST" class="formulario">
        <h1 class="titulo-formulario">Registro</h1>
        <div class="control-formulario">
            <h5>Nombre</h5>
            <input type="text" name="nombre" placeholder="Ingrese su nombre" class="control">
        </div>
        <div class="control-formulario">
            <h5>Apellido</h5>
            <input type="text" name="apellido" placeholder="Ingrese su apellido" class="control">
        </div>
        <div class="control-formulario">
            <h5>Nombre de usuario</h5>
            <input type="text" name="usuario" placeholder="Ingrese su nombre de usuario" class="control">
        </div>
        <div class="control-formulario">
            <h5>Email</h5>
            <input type="email" name="email" placeholder="Ingrese su correo electrónico" class="control">
        </div>
        <div class="control-formulario">
            <h5>Contraseña</h5>
            <input type="password" name="contraseña" placeholder="Ingrese su contraseña" class="control">
        </div>
        <div class="control-formulario">
            <h5>Confirme su contraseña</h5>
            <input type="password" name="contraseña2" placeholder="Confirme contraseña" class="control">
        </div>
        <div class="control-formulario">
            <h5>Suba una imagen</h5>
            <input type="file" name="images" accept="images/*" class="control">
        </div>
        <button type="submit" class="boton-formulario">Registrarse</button>
        <button type="reset" class="boton-formulario2">Borrar</button>
        <div class="login">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></div>
    </form>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>