<section class="footer-section ft-nosotros">
    <a href="/"><img class="ft-logo" src="/images/logo-proyecto.svg" alt="Digital Phone"></a>
    <h4 class="ft-titulo ft-t1">Digital Phone</h4>
    <p class="ft-nos-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste recusandae illo aliquam cum? Hic voluptas saepe reiciendis quis. Tempora, quas!</p>
</section>
<section class="footer-section ft-contacto">
    <h4 class="ft-titulo">Contáctanos</h4>
    <div class="ft-con-div">
        <a href="" class="ft-con-a"><i class="fa-solid fa-location-dot ft-con-icon"></i><p class="ft-con-info">Ubicación falsa 123</p></a>
        <a href="" class="ft-con-a"><i class="fa-solid fa-envelope ft-con-icon"></i><p class="ft-con-info">Email_Falso@gmail.com</p></a>
        <a href="" class="ft-con-a"><i class="fa-solid fa-phone ft-con-icon"></i><p class="ft-con-info">+54 11 1234-5678</p></a>
    </div>
</section>
<section class="footer-section ft-redes">
    <div class="ft-red-div">
        <a href="" class="ft-red-a"><i class="fa-brands fa-instagram ft-red-icon"></i></a>
        <a href="" class="ft-red-a"><i class="fa-brands fa-twitter ft-red-icon"></i></a>
        <a href="" class="ft-red-a"><i class="fa-brands fa-tiktok ft-red-icon"></i></a>
        <a href="" class="ft-red-a"><i class="fa-brands fa-youtube ft-red-icon"></i></a>
    </div>
    <h4 class="ft-red-txt">¡Seguinos en nuestras redes!</h4>
</section>
<section class="footer-section ft-proser">
    <h4 class="ft-titulo">Productos y Servicios</h4>
    <div class="ft-pro-div">
        <a href="/products" class="ft-pro-a"><p>Productos</p></a>
        <a href="" class="ft-pro-a"><p>Ofertas</p></a>
        <a href="" class="ft-pro-a"><p>Lanzamientos</p></a>
        <a href="" class="ft-pro-a"><p>Soporte</p></a>
    </div> 
</section>
<section class="footer-section text-copy">
    <p>Copyright © 1999-2023 ProyectoGrupo3 S.R.L.</p>
</section>