<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>last product</title>
</head>
<body>
    <main>
        <section class="product">
            <div class="name">
                <span><%= last_product.name %></span>
            </div>
            <div class="price">
                <span><%= last_product.price %></span>
            </div>
        </section>
    </main>
</body>
</html> -->