<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Users</title>
</head>
<body>
    <main>
        <section class="user">
            <div class="name">
                <span><%= last_user.name %></span>
            </div>
            <div class="last_name">
                <span><%= last_user.last_name %></span>
            </div>
        </section>
    </main>
</body>
</html>